/**********TAG SECTIONS**********/
body {color: #40514E;
      font-family: 'Economica', sans-serif;
      font-size: 200%;
      margin: 0px;
      text-align: center;}

h1 {color: #706c61;
    margin: 50px auto 0px auto;
    font-family: 'Rouge Script', cursive;
    font-size: 90px;}

h2 {color: #706c61;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
    margin: 5;}

h3 {color: #758184;
    font-family: 'Open Sans Condensed', sans-serif;}

hr {border-style: none;
    border-top-style: dotted;
    border-color: #8ac6d1;
    border-width: 10px;
    margin: 100px auto 100px auto;
    width: 5%;}

  a {color: #758184;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 10px 20px 10px 20px;}

  a:hover {color: #5FDDE5;}

/**********CLASS SECTIONS*********a4c5c6*/
.TopContainer     {background-color: #8ac6d1;
                   position:relative;
                   padding-top: 100px;}

.BottomCloud {position: absolute;
              left: 300px;
              bottom: 300px;}

.TopCloud {position: absolute;
           right: 300px;
           top: 50px;}

.Heading2 {font-weight: normal;
           line-height: 2;}

.Web {text-decoration: underline;}

.MiddleContainer  {background-color: #dddddd;
                  padding-top: 30px;
                  padding-bottom: 30px;}

.ProfilePic {border-radius: 100%;
            height: 150px;
            width: 150px;}

.intro {width: 30%;
        margin: 10px auto 10px auto;}

.SkillRow {width: 50%;
           margin: auto auto 100px auto;
           text-align: left;}

.SkillPics1 {border-radius: 100%;
            float: left;
            margin-right: 30px;
            margin-bottom: 30px;
            width: 30%;}

.SkillPics2 {border-radius: 100%;
            float: right;
            margin-left: 30px;
            margin-bottom: 30px;
            width: 30%;}


.BottomContainer  {background-color: #3b6978;
                  padding-top: 15px;
                  padding-bottom: 5px}

.ContactPar {width: 30%;
             margin: 20px auto 60px auto;}

.Button {background: #8AC6D1;
  background-image: -webkit-linear-gradient(top, #8AC6D1, #3B6978);
  background-image: -moz-linear-gradient(top, #8AC6D1, #3B6978);
  background-image: -ms-linear-gradient(top, #8AC6D1, #3B6978);
  background-image: -o-linear-gradient(top, #8AC6D1, #3B6978);
  background-image: linear-gradient(to bottom, #8AC6D1, #3B6978);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #40514E;
  font-family: Ariel, sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #0059A0 0px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;}

.Button:hover {border: solid #337FED 1px;
  background: #B2EBF2;
  background-image: -webkit-linear-gradient(top, #B2EBF2, #5FDDE5);
  background-image: -moz-linear-gradient(top, #B2EBF2, #5FDDE5);
  background-image: -ms-linear-gradient(top, #B2EBF2, #5FDDE5);
  background-image: -o-linear-gradient(top, #B2EBF2, #5FDDE5);
  background-image: linear-gradient(to bottom, #B2EBF2, #5FDDE5);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #758184;
  text-decoration: none;}

  .Footer {color: #B2EBF2;
           font-size: 1.5rem;
           margin: 25px auto 10px auto;}
